/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  color: #757575;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.send-form__btn, .subscription-form__btn, .hero__btn {
  height: 50px;
  margin: 0 auto;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn, .mobile-menu__btn-close {
  position: absolute;
  background-color: #fff;
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.section__title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.container {
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  padding: 16px 0;
}
.header__logo .logo__span {
  color: #000;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
    padding: 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 92px;
    padding: 24px 0 25px;
  }
}

.header__mobile-menu {
  width: 40px;
  height: 40px;
  margin-left: auto;
  border: none;
  background-color: inherit;
}
@media screen and (min-width: 768px) {
  .header__mobile-menu {
    display: none;
  }
}

.mobile-menu {
  display: none;
}
@media screen and (max-width: 767.98px) {
  .mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transform: translateX(0);
}

.mobile-menu__container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
}
@media screen and (min-width: 480px) {
  .mobile-menu__container {
    width: 480px;
  }
}

.mobile-menu__btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: none;
}
.mobile-menu__btn-close:hover {
  fill: #2196f3;
}

.mobile-menu__navigation {
  margin-bottom: auto;
}

.mobile-menu__nav-item:not(:last-child) {
  padding-bottom: 32px;
}

.mobile-menu__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link--current {
  color: #2196f3;
}
@media screen and (max-width: 440px) {
  .mobile-menu__link {
    font-size: 30px;
  }
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196f3;
}

.mobile-menu__contacts-link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
  padding-bottom: 32px;
}
@media screen and (max-width: 440px) {
  .mobile-menu__contacts-link-tel {
    font-size: 26px;
  }
}

.mobile-menu__contacts-link-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: #757575;
  padding-bottom: 64px;
}
@media screen and (max-width: 440px) {
  .mobile-menu__contacts-link-email {
    font-size: 18px;
  }
}

.mobile-menu__socials {
  display: flex;
}

.mobile-menu__socials-item {
  padding: 0 10px;
}
.mobile-menu__socials-item:first-child {
  padding-left: 0;
}
.mobile-menu__socials-item:last-child {
  padding-right: 0;
}
.mobile-menu__socials-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__socials-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (max-width: 440px) {
  .mobile-menu__socials-link {
    font-size: 12px;
  }
}

.navigation {
  display: flex;
  gap: 95px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .navigation {
    margin-right: auto;
  }
}

.logo {
  display: block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666;
  letter-spacing: 0.03em;
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}

.nav__link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--current {
  position: relative;
  color: #2196f3;
}
.nav__link--current::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts {
    padding: 21px 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    gap: 25px;
  }
}

.contacts__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    padding: 32px 0;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts__icon--email {
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts__icon--tel {
    width: 10px;
    height: 14px;
  }
}

.section {
  padding: 60px 0;
  background-color: #fff;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
.section--no-padding-top {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section--no-padding-top {
    padding-top: 0;
    display: block;
  }
}
.section--other-bgc {
  background-color: #f5f4fa;
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 118px 0;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/hero/hero-480.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/hero/hero-960.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/hero/hero-1440.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/hero/hero-768.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/hero/hero-1536.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/hero/hero-2304.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/hero/hero-1600.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/hero/hero-3200.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/hero/hero-4800.jpg");
  }
}
@media screen and (min-width: 1600px) {
  .hero {
    width: 1600px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto 30px auto;
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    width: 696px;
  }
}

.hero__btn {
  width: 216px;
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 768px) {
  .advantage {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantage__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantage__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 767.98px) {
  .advantage__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.advantage__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantage__title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 767.98px) {
  .advantage__title {
    text-align: center;
  }
}

.advantage__description {
  font-weight: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.works {
  display: flex;
  justify-content: space-between;
}

.works__item {
  position: relative;
}

.works__overlay {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.socials__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team__item {
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767.98px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team__container {
  padding: 30px 0;
}

.team__title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team__description {
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.team__socials {
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__socials:hover, .team__socials:focus {
  color: #fff;
  background-color: #2196f3;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  flex-basis: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.clients__icon {
  fill: currentColor;
}

.projects-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .projects-filter {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .projects-filter {
    margin-bottom: 50px;
  }
}

.projects-filter__btn {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: #f5f4fa;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-filter__btn:hover, .projects-filter__btn:focus {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 767.98px) {
  .projects__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .projects__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .projects__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .projects__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.project-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card:hover, .project-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card__overlay-box {
  position: relative;
  overflow: hidden;
}

.project-card__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  padding: 0 24px;
  width: 100%;
  height: 100%;
  background-color: #2196f3;
  opacity: 0.9;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card:hover .project-card__overlay, .project-card:focus .project-card__overlay {
  transform: translateY(0);
}

.project-card__description {
  color: #fff;
  font-weight: inherit;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 440px) {
  .project-card__description {
    font-size: 16px;
  }
}

.project-card__content-box {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: 0;
}

.project-card__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-card__caption {
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.address {
  font-weight: inherit;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}
@media screen and (min-width: 1200px) {
  .address__item {
    width: 231px;
  }
}

.address__link {
  color: #fff;
  opacity: 0.6;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}
.address__link--external {
  opacity: 1;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
  color: #fff;
}

.footer__container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__container {
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    justify-content: flex-start;
    flex-wrap: nowrap;
    text-align: start;
  }
}

@media screen and (max-width: 767.98px) {
  .footer__address-box {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address-box {
    margin-right: 70px;
  }
}

.footer__logo {
  margin-bottom: 20px;
}
.footer__logo .logo__span {
  color: #fff;
}

@media screen and (max-width: 767.98px) {
  .footer__socials-box {
    margin-bottom: 60px;
  }
}

.footer__subscription {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .footer__subscription {
    margin-left: 93px;
  }
}

.footer__caption {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__socials {
  background-color: #44454e;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__socials:hover, .footer__socials:focus {
  background-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .subscription-form {
    display: flex;
  }
}

.subscription-form__label {
  display: block;
}
@media screen and (min-width: 1200px) {
  .subscription-form__label {
    flex-grow: 1;
  }
}

.subscription-form__input {
  display: block;
  width: 100%;
  padding: 15px;
  margin: 0 auto 20px;
  color: #757575;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-form__input:focus {
  color: #fff;
  border: 1px solid #2196f3;
  outline: none;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .subscription-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription-form__input {
    margin: 0 auto;
  }
}

.subscription-form__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  gap: 10px;
  margin-left: 12px;
}
.subscription-form__btn:hover, .subscription-form__btn:focus {
  background-color: #188ce8;
}

.subscription-form__icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: calc(100% - 30px);
  max-width: 450px;
  border-radius: 4px;
  background-color: #fff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal__btn {
  top: 8px;
  right: 8px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.modal__btn:hover {
  fill: #2196f3;
}

.send-form {
  width: 100%;
  padding: 40px;
}

.send-form__caption {
  margin-bottom: 12px;
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .send-form__caption {
    line-height: 1.15;
  }
}

.send-form__field {
  display: block;
  font-weight: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.send-form__field--coment {
  margin-bottom: 20px;
}

.send-form__span {
  display: block;
  margin-bottom: 4px;
}

.send-form__wrapper {
  position: relative;
  margin: 4px 0 10px;
}

.send-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-form__input {
  width: 100%;
  padding: 12px 12px 12px 42px;
  font-weight: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  fill: #212121;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-form__input:focus {
  border: 1px solid #2196f3;
  outline: none;
}
.send-form__input:focus ~ .send-form__icon {
  fill: #2196f3;
}

.send-form__coment-area {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-form__coment-area:focus {
  border: 1px solid #2196f3;
  outline: none;
  fill: #2196f3;
}

.send-form__accept-field {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 30px;
  font-weight: inherit;
  font-size: 12px;
  line-height: 1.6667;
  letter-spacing: 0.03em;
  color: #757575;
  fill: #fff;
}
@media screen and (min-width: 1200px) {
  .send-form__accept-field {
    font-size: 14px;
    line-height: 1.71;
  }
}

.send-form__policy {
  color: #2196f3;
  text-decoration: underline;
}

.send-form__icon-check {
  flex-shrink: 0;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-form__checkbox:checked .send-form__icon-check {
  background-color: #2196f3;
  border: none;
}

.send-form__btn {
  display: block;
  width: 200px;
}
.send-form__btn:hover, .send-form__btn:focus {
  background-color: #188ce8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.modal-open {
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */