$titlecolor: #212121;
$designcolor: #2196f3;
$btn-hover: #188ce8;
$textcolor: #757575;
$white-color: #fff;
$bgr-color: #f5f4fa;
$alt-bgr-color: #2f303a;
$icon-color: #afb1b8;

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$lg: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));