.address {
    @include fontset($fw: inherit, $fs: 14px, $lh: 1.86, $ls: 0.03em);
    font-style: normal;
}

.address__item {
    &:not(:last-child) {
        margin-bottom: 9px;
    }

    @include for-size(desktop) {
        width: 231px;
    }
}

.address__link {
    color: $white-color;
    opacity: 0.6;
    transition: color $transition;

    &:hover,
    &:focus {
        color: $designcolor;
    }

    &--external {
        opacity: 1;
        transition: color $transition;
    }
}