.contacts {
    display: none;

    @include for-size(tablet) {
        display: block;
    }

    @include for-size(tablet-only) {
        padding: 21px 0;
    }

    @include for-size(desktop) {
        display: flex;
        gap: 25px;
    }
}

.contacts__item {
    @include fontset($fw: 500, $fs: 12px, $lh: 1.16, $ls: 0.02em);

    @include for-size(tablet-only) {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    @include for-size(desktop) {
        font-size: 14px;
        line-height: 1.14;
    }
}

.contacts__link {
    display: flex;
    align-items: center;
    transition: color $transition;

    &:hover,
    &:focus {
        color: $designcolor;
    }

    @include for-size(desktop) {
        padding: 32px 0;
    }
}

.contacts__icon {
    fill: currentColor;
    margin-right: 10px;
}

.contacts__icon--email {
    @include for-size(tablet-only) {
        width: 14px;
        height: 10px;
    }
}

.contacts__icon--tel {
    @include for-size(tablet-only) {
        width: 10px;
        height: 14px;
    }
}