.section {
    padding: 60px 0;
    background-color: $white-color;

    @include for-size(desktop) {
        padding: 94px 0;
    }

    &--no-padding-top {
        display: none;

        @include for-size(desktop) {
            padding-top: 0;
            display: block;
        }
    }

    &--other-bgc {
        background-color: $bgr-color;
    }
}

.section__title {
    @extend %title;
}