.subscription-form {
    @include for-size(desktop) {
        display: flex;
    }
}

.subscription-form__label {
    display: block;

    @include for-size(desktop) {
        flex-grow: 1;
    }
}

.subscription-form__input {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 0 auto 20px;
    color: $textcolor;
    background-color: $alt-bgr-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: border $transition;

    &:focus {
        color: $white-color;
        border: 1px solid $designcolor;
        outline: none;
    }

    @include for-size(tablet-only) {
        width: 450px;
    }

    @include for-size(desktop) {
        margin: 0 auto;
    }
}

.subscription-form__btn {
    @extend %btn;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    gap: 10px;
    margin-left: 12px;

    &:hover,
    &:focus {
        background-color: $btn-hover;
    }
}

.subscription-form__icon {
    fill: currentColor;
}